.DS_Store
Thumbs.db

.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

obj/
bin/

TestResults/
*.trx
*.testsettings

packages/
*.nupkg

*.log
*.tmp
*.temp

.env

secrets.json
user-secrets/

efbundle/